<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <body class="align">
        <div class="grid">
            <p class="text--center">PROJECT1</p>
            <form action="/login" method="POST" class="form login">
                <div class="form__field">
                    <label for="username"><span class="material-icons">person</span>
                        <span class="hidden">Username</span>
                    </label>
                    <input id="username" type="text" name="username" class="form__input" placeholder="Username"
                        required>
                </div>
                <div class="form__field">
                    <label for="password"><span class="material-icons">lock</span>
                        <span class="hidden">Password</span>
                    </label>
                    <input id="password" type="password" name="password" class="form__input" placeholder="Password"
                        required>
                </div>
                <div class="form__field">
                    <input type="submit" value="Log in">
                </div>
            </form>
            <p class="text--left"><a herf="#">Forgot password?</a></p>
            <p class="text--center">Not a member? <a href="signup">Sign up now</a></p>
        </div>
    </body>
</body>

</html>